<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj studenta</title>
    <style>
       body{ text-align: center}
    </style>
</head>
<body>
    <h1>Dodaj studenta</h1>

    <form action="/add-student" method="POST"onsubmit="return validateCheckbox()">
        <label for="nr_ind">Nr indeksu:</label>
        <input type="text" id="nr_ind" name="nr_ind" required><br><br>

        <label for="name">Imię:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="surname">Nazwisko:</label>
        <input type="text" id="surname" name="surname" required><br><br>
        
        <label>Czy w komisji?</label><br>
        <input type="checkbox" id="Yes" name="isQualified" value="true" onclick="uncheckCheckbox('No')" >
        <label for="Yes">Tak</label><br>
        <input type="checkbox" id="No" name="isQualified" value="false" onclick="uncheckCheckbox('Yes')" >
        <label for="No">Nie</label><br><br>

        <input type="submit" value="Dodaj">
    </form>

    <script>
        function uncheckCheckbox(checkboxId) {
            const otherCheckbox = document.getElementById(checkboxId);
            if (otherCheckbox.checked) {
                otherCheckbox.checked = false;
            }
        }

        function validateCheckbox() {
            const checkboxYes = document.getElementById('Yes');
            const checkboxNo = document.getElementById('No');

            if (!(checkboxYes.checked || checkboxNo.checked)) {
                alert('Wybierz tylko jedną opcję.');
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
